<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CampusPortalSite</display-name>
  <welcome-file-list>
    <welcome-file>index.jhtml</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>indexAction</servlet-name>
    <servlet-class>com.fc.cps.action.IndexAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexAction</servlet-name>
    <url-pattern>/index.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>indexNewsAction</servlet-name>
    <servlet-class>com.fc.cps.action.IndexNewsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexNewsAction</servlet-name>
    <url-pattern>/indexNews.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLoginAction</servlet-name>
    <servlet-class>com.fc.cps.action.UserLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginAction</servlet-name>
    <url-pattern>/userLogin.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userRegisterAction</servlet-name>
    <servlet-class>com.fc.cps.action.UserRegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userRegisterAction</servlet-name>
    <url-pattern>/userRegister.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLogoutAction</servlet-name>
    <servlet-class>com.fc.cps.action.UserLogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogoutAction</servlet-name>
    <url-pattern>/userLogout.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>verifyCodeAction</servlet-name>
    <servlet-class>com.fc.cps.action.VerifyCodeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verifyCodeAction</servlet-name>
    <url-pattern>/verifyCode.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userInfosAction</servlet-name>
    <servlet-class>com.fc.cps.action.UserInfosAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfosAction</servlet-name>
    <url-pattern>/userInfos.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>icCardAction</servlet-name>
    <servlet-class>com.fc.cps.action.ICCardAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>icCardAction</servlet-name>
    <url-pattern>/icCard.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userInfosPicChangeAction</servlet-name>
    <servlet-class>com.fc.cps.action.UserInfosPicChangeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfosPicChangeAction</servlet-name>
    <url-pattern>/userInfosPicChange.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userInfosUpdateAction</servlet-name>
    <servlet-class>com.fc.cps.action.UserInfosUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfosUpdateAction</servlet-name>
    <url-pattern>/userInfosUpdate.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userInfosPwdChangeAction</servlet-name>
    <servlet-class>com.fc.cps.action.UserInfosPwdChangeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userInfosPwdChangeAction</servlet-name>
    <url-pattern>/userInfosPwdChange.jhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>icCardInfosAction</servlet-name>
    <servlet-class>com.fc.cps.action.ICCardInfosAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>icCardInfosAction</servlet-name>
    <url-pattern>/icCardInfos.jhtml</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.fc.cps.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.fc.cps.filter.UserFilter</filter-class>
    <init-param>
      <param-name>checked</param-name>
      <param-value>/userInfos.jhtml;user_infos.jsp;/icCard.jhtml;iccard.jsp;/userInfosPicChange.jhtml;/userInfosUpdate.jhtml;/userInfosPwdChange.jhtml;</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>